{% extends 'chatbot/base.html' %}

{% block content %}
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Chat Bot.</h1>
    <p>Keep conversations growing with AI-powered messaging</p>
    <!-- <img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108"> -->
  </header>
<div class="w3-content w3-justify w3-text-grey w3-padding-64" >
    <h2 class="w3-text-light-grey">Chat Bot</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>One of the most common applications of chatbots is customer support, where they help answer frequently asked questions (FAQs), provide troubleshooting guides, process returns, 
        and track orders. By automating these tasks, chatbots reduce wait times and improve customer satisfaction. For example, e-commerce chatbots assist users in finding products, 
        checking delivery status, and offering discounts.Chatbots also enhance business process automation by handling repetitive tasks such as booking appointments, sending reminders,
         collecting feedback, and assisting with HR processes like employee onboarding. In HR, chatbots can quickly respond to employee queries about leave policies or payroll, saving 
         time for both employees and HR teams.</p>
    <h3 class="w3-padding-16 w3-text-light-grey">ChatBot Skills</h3>
    <p class="w3-wide">NLP</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:90%"></div>
    </div>
    <p class="w3-wide">Conversational AI</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Machine Learning</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
    
   
    <!-- Grid for pricing tables -->
    <!-- <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
    <div class="w3-row-padding" style="margin:0 -16px"> -->
      <!-- <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Free</li>
          <li class="w3-padding-16">Basic chatbot access</li>
          <li class="w3-padding-16"> Limited responses per day (e.g., 20 messages)</li>
          <li class="w3-padding-16">No API access</li>
          <li class="w3-padding-16">No advanced AI features</li>
          <li class="w3-padding-16">
            <h2>&#x20B9; 00</h2>
            <span class="w3-opacity">per month</span>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
          <li class="w3-padding-16">Unlimited chatbot access</li>
          <li class="w3-padding-16">Advanced AI responses (Natural Language Processing)</li>
          <li class="w3-padding-16">API access for chatbot integration</li>
          <li class="w3-padding-16">Priority support (24/7 customer service)</li>
          <li class="w3-padding-16">
            <h2>&#x20B9; 299 </h2>
            <span class="w3-opacity">per month</span>
          </li>
        </ul>
      </div> -->
    <!-- End Grid/Pricing tables -->
    </div>
    
  <!-- End About Section -->
  </div>
  {% endblock %}