{% extends 'chatbot/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow-lg p-4 text-light" style="width: 350px;background-color: rgb(51, 51, 51);">
        <h3 class="text-center">Login</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
{% endblock %}
